@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 20px;
}

.nav-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nav-2 h3 {
  padding-left: 120px;
}

.shirtimg img {
  height: 80%;
  width: auto;
  height: 200px;
}

.main-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 80px;
  grid-gap: 90px;
}
