@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 20px;
}

.nav-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nav-2 li {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

.nav-2 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: left;
  align-items: center;
  list-style-type: none;
}

.shirtimg img {
  height: 80%;
  width: auto;
  height: 200px;
}

.main-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
}

.shirtimg h3 {
  padding-top: 5px;
}
